@model IEnumerable<AppKursProject.Models.ProvidedService>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                Сотрудник
            </th>
            <th>
                Услуга
            </th>
            <th>
                Клиент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @if (item.Employee != null)
                    {
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    }
                </td>
                <td>
                    @if (item.Service != null)
                    {
                        @Html.DisplayFor(modelItem => item.Service.Name)
                    }
                </td>
                <td>
                    @if (item.Stay != null)
                    {
                        @Html.DisplayFor(modelItem => item.Stay.CustomerId)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceRecordId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceRecordId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceRecordId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
