@model IEnumerable<AppKursProject.Models.RoomPrice>

@{
    ViewData["Title"] = "Список цен на номера";
}

<h1>Список цен на номера</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Тип номера
            </th>
            <th>
                Идентификатор номера
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PriceId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.PriceId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.PriceId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
